<div *ngIf="tree">
    <mat-card>
        <p>Tree #{{tree.id}} ({{tree.type}}:</p>
        <ul>
            <li>Height: {{tree.heightMeters}}</li>
            <li>Price: {{tree.price}}€</li>
        </ul>
    </mat-card>
    <form [formGroup]="paypalForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>PayPal</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="paypalForm.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="paypalForm.controls['email'].hasError('email')">
                                Email is <strong>invalid</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" formControlName="password" type="password">
                            <mat-error *ngIf="paypalForm.controls['password'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="paypalForm.controls['password'].hasError">
                                Password is must be between 8 and 16 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="paypalForm.invalid">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
<div *ngIf="!tree">
    <p>
        Please choose a tree first in order to finish your order!
    </p>
</div>

